* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pop-up {
  width: 20rem;
  height: 10rem;
  background-image: linear-gradient(
    to right,
    rgb(204, 128, 97),
    rgb(182, 63, 34)
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.pop-up .cookie {
  overflow: visible;
}

.pop-up .cookie svg {
  overflow: visible;
}

.text {
  text-align: center;
}

.text .title {
  white-space: nowrap;
  font-size: 1.5rem;
  padding: 0rem 2rem 1rem 2rem;
  font-style: italic;
  font-weight: 900;
}

.text .notice {
  font-size: 0.9rem;
  padding: 0rem 0rem 1rem 0rem;
}

button {
  border-style: none;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}
